body, ul, li{
  margin:0;
  list-style:none;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}
.wrap{
}
.logo{
background:aquamarine;
}
.wrap-content{
display:flex;
}
.side-menu{
background:indianred;
width:10%;
height:800px;
}
.side-menu ul li a:active {
    background-color: blue;
    padding: 3px;
}
.content{
background:lightseagreen;
width:90%;
height:800px;
}