body, ul, li{
  margin:0;
  list-style:none;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}
.wrap{
}
.logo{
background:orange;
}
.wrap-content{
display:flex;
}
.side-menu{
background:yellow;
width:10%;
height:800px;
}
.content{
background:green;
width:90%;
height:800px;
}