body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}
a{
    text-decoration:none;
    color:inherit;
}
.wrap{
}
.logo{
    font-weight: bold;
    background:aquamarine;
    cursor:hand;
}
.wrap-content{
    display:flex;
}
.note-List{
    background:indianred;
    width:15%;
    height:800px;
}
.selected-item{
    background:blue;
}
.page-List{
    background:orange;
    width:10%;
    height:800px;
}
.content{
    background:lightseagreen;
    width:75%;
    height:800px;
}