<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="wrap">
    <div class="logo" onclick="goToMainPage()">logo</div>
    <div class="wrap-content">
        <div class="note-List">
            <div style="overflow: scroll; height: 800px;">
                <ul>
                    <li th:each="note:${noteList}">
                        <a th:href="@{|/noteDetail/${note.noteId}/${targetPost.postId}|}" th:text="${note.title}"></a>
                    </li>
                    <form action="/noteWrite" method="post">
                        <input type="submit" value="노트추가">
                    </form>
                </ul>
        </div>
        </div>
        <div class="page-List">
            <div style="overflow: scroll; height: 800px;">
                <ul>
                    <li th:each="post:${postList}" th:class="${post.postId==targetPost.postId} ? 'selected-item':''">
                        <a th:href="@{|/detail/${targetNote.noteId}/${post.postId}|}" th:text="${post.title}"></a>
                    </li>
                    <form action="/write" method="post">
                        <div>
                            <input type="hidden" name="noteId" th:value="${targetNote.noteId}">
                        </div>
                        <input type="submit" value="추가">
                    </form>
                </ul>
            </div>
        </div>
        <div class="content">
            <form action="/update" method="post">
                <div>
                    <input type="hidden" name="postId" th:value="${targetPost.postId}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetPost.title}">
                </div>
                <div>
                    <textarea name="content" cols="30" rows="10" th:text="${targetPost.content}"></textarea>
                </div>
                <input type="submit" value="수정">
            </form>
            <div>
                <form action="/delete" method="get">
                    <input type="hidden" name="postId" th:value="${targetPost.postId}">
                    <input type="submit" value="삭제">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function goToMainPage() {
        window.location.href = "/";
    }
</script>
</body>
</html>